body{
    margin: 0;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    width:100%;
}

.nav-bar{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-direction: row;
    position: fixed;
    width: 100%;
    padding: 0 90px;
}

.nav-bar-left{
    display: flex;
    flex-direction: row;
    align-content: center;
}

.nav-bar-right{
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-family: 'Arial Rounded MT Bold', Helvetica, sans-serif;
} 

.nav-item{
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-image{
    height: 50px;
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.logo-title{
    display: flex;
    align-self: center;
    font-weight: bold;
    font-family: 'Arial Rounded MT Bold', Helvetica, sans-serif;
    color: white;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB
}

.hero-button, .nav-bar-right a:hover{
    color: #ccc;
}

.hero{
    display: flex;
    background-color: #1F2937;
    padding: 80px;
    justify-content: space-between;
    box-sizing: border-box;
    font-family: 'Arial Rounded MT Bold', Helvetica, sans-serif;
    align-items: center;
    overflow-wrap: column;
}
.hero-image{
    height: 300px;
    width: 400px;
    border: 5px solid white;
    border-radius: 8px;
}
.hero-left{
    color: #F9FAF8;
    display: flex;
    width: 300px;
    flex: 1;
    flex-direction: column;
    flex-basis: 400px;
}
.hero-title{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    display: flex;
}

.hero-subtext{
    font-size: 24px;
}
.hero-button{
    background-color: #3882F6;
    color: #F9F1F8;
    border-radius: 12px;
    height: 40px;
    width: 140px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}

.hero-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes{
    display: flex;
    flex-direction: column;
    background: white;
    padding: 0 150px;
}
.boxes-row-1{
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;
    font-size: 38px;
    font-weight: bold;
    color: #1F2937;
    font-family: 'Arial Rounded MT Bold', Helvetica, sans-serif;
}
.boxes-row-2{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    font-family: 'Arial Rounded MT Bold', Helvetica, sans-serif;
}

.column1, .column2, .column3, .column4{
    flex-direction: column;
    text-align: center;
}

.sqimg{
    height: 200px;
    width: 200px;
    border: 5px solid #1f2937;
    border-radius: 8px;
}

.quote{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1F2937;
    font-family: 'Arial Rounded MT Bold', Helvetica, sans-serif;
    align-items: center;
    padding:40px 150px;
}

.quote-text{
    font-style: italic;
    font-size: 36px;
}

.quotee{
    font-weight: bold;
    align-self: flex-end;
}

.subscribe{
    background-color: white;
}

.final-box{
    display: flex;
    background-color: #3882F6;
    font-family: 'Arial Rounded MT Bold', Helvetica, sans-serif;
    margin: 40px 150px;
    padding: 40px 150px;
    align-items: center;
    align-content: center;
    border-radius: 8px;
    color: white;
}

.left-final{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
}

.top-final{
    font-weight: bold;
    font-size: 24px;
}

.bottom-final{
    font-size: 16px;
}
.right-final{
    padding: 20px;
}

.final-button{
    border: 3px solid white;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    height: 40px;
    width: 140px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 40px 150px;
}